@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body{
    font-family: 'Lexend Deca', sans-serif;
    
}

.cabecera {
    height: 100vh;
    min-height: 500px;
    background-image: url('../imagenes/cabecera2.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*opacity: 0.8;*/
  }

  .texto-verde{
      color: #fff;
  }

  h1,p, .Servicios{

    font-family: 'Lexend Deca', sans-serif;

  }
  
  
  .link-verde{
    color: #a4c040;
  }

  .servicio1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    height: 25vh;

    background-image: url('../imagenes/cabecera.jpg') ;
  }

  .tablero{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../imagenes/tablero.jpg') ;

  }

  .btn-primary{
    background-color: #a4c040;
    border-color: #a4c040;

  }
  
  .card{
    border-color: #fff;
  }
